h2{
    font-family: 'Lato', sans-serif;
    font-weight:bold ;
    font-size: 50px;
    letter-spacing: -3px;
    color:#5972e0
}
.contact-form input,form textarea{
   margin-bottom:10px;
}
.contact-form .contact-form{
    margin-bottom:0;
    position: relative;

}
 .contact-form .custom-alert{
    padding:5px 10px;
    display: none; 
 }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color: #324a8b;
    color: white;
    font-weight:bold ;
border-radius: 10px;
    padding:8px;
    font-family: 'Lato', sans-serif;
}
.contact-form textarea{
    height: 180px !important;
}
 .contact-form input:not([type='submit'])+ i{
     height:0;
     position: relative;
     top:-40px;
     left:10px;
     color:#999;

 }
 .contact-form input{
     padding-left:33px;
 }
 
 .contact-form .fa-paper-plane{
    color: white;
    position: relative;
    top: 0px;
    left: -2px;
 }